<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Create Group</title>
</head>
{% include "components/navbar.html.jinja"%}

<body class="font-family: Arial; margin: 40px; }.form-container { max-width: 500px; margin: auto; }.error { color: red; }.success { color: green; }">
<div class="flex items-center min-h-screen bg-white">
<div class="container mx-auto">
<div class="max-w-md mx-auto my-10">
<div class="text-center">
<h2>Create a New Group</h2>

    <!-- Flash messages -->
    
  


</body>
</html>